.chooseArtist {
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      &:hover {
        color: red;
      }
      cursor: pointer;
      text-decoration: underline;
      margin-right: 10px;
      font-family: 'Theano Didot';
      list-style: none;
    }
  }
}
