footer {
  display: block;
  background: #666;
  box-shadow: 0 -2px 0px #333;
  width: 100wh;
  height: 15vh;
  min-height: 80px;
  padding: 10px;
  color: white;
  font-family: 'Theano Didot';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
}
