.artistPage .ericWhitacre {
  position: relative;
  color: #313131;
  margin-bottom: 5%;
  h1 {
    font-family: 'Theano Didot';
    font-size: 42px;
    font-weight: lighter;
    text-align: center;
  }
  li, button {
    font-family: 'Futura';
    font-weight: lighter;
  }

  .songList {
    position: relative;
    width: 50%;
    margin:auto;
    /* Rectangle 5: */
    background: #FFDC7B;
    box-shadow: 0 0 9px 0 #FFDB7B;
    letter-spacing: 1px;
    padding: 2% 0;
    ul {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
    }

    li {
        list-style: none;
        margin-bottom: 4%;
        position: relative;
        .trackInfo {
          display: block;
          padding: 5%;
          transition: background 0.1s ease-in;
          &:hover {
            background: lighten(#FFDC7B, 5%);
            box-shadow: inset 0 0 2px #EEE;
            &:after {
              color: #FFF;
              position: absolute;
              right: 20px;
              top: 40%;
              content: '▶';
              display: block;
            }
          }
          text-decoration: none;
          h3,h4 {
            font-weight: lighter;
            margin: 0; // Reset, I _love_ css
          }
          h3 {
            margin-left: -1%;
            margin-bottom: 5px;
            width: 80%;
            color: #313131;
          }
          h4 {
            color:#525252;
          }
      }
    }
    button {
      position: absolute;
      bottom: 20px;
      right: 2%;
      height: 60px;
      margin: auto;
      /* Rectangle 4: */
      border:none;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
      /* Get top 10: */
      width: 48%;
      font-family: Futura;
      font-size: 20px;
      letter-spacing: 0.44px;
    }

  }
}
